#GENERAL
.DS_Store
Thumbs.db
*.log
*.bak
*.tmp
*.swp
.env
.env.*
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.user
*.code-workspace
!.gitignore

#BACKEND
backend/__pycache__/
backend/**/*.pyc
backend/venv/
backend/.mypy_cache/
backend/.pytest_cache/
backend/app/data/embeddings.pkl

#Docker
**/docker-compose.override.yml
**/Dockerfile.local
**/docker-volume/
**/redis-data/
*.pid

#Virtual env
*.egg-info/
.eggs/
dist/
build/

#FRONTEND
frontend/node_modules/
frontend/.angular/
frontend/.output/
frontend/dist/
frontend/.env
frontend/.env.*